:root {
  --color-bg: #FFFFFF;
  --color-bg-contrast: #EDF0F7;
  --color-text: #252525;
  --color-accent: #5A81FA;
  --color-accent-gradient: linear-gradient(308deg, #49AFD8 0%, #9ddbf3 40%, #bde6f6 100%);
  --color-toggle-inactive: #F1F1F1;
  --color-toggle-active: #444444;
  --color-toggle-active-text: #FFFFFF;
}

.text-accent {
  color: #5A81FA;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
  color: var(--color-text);
}

html { scroll-behavior: smooth; }
section { position: relative; width: 100%; padding: 60px 0; font-size: 20px; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
